<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <title>Halaman Laura</title>
    <style>
      body {
        background-color: #f0f8ff;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: #333;
        text-align: center;
        padding: 50px;
      }

      h1 {
        color: #2c3e50;
        font-size: 36px;
      }

      .subtitle {
        font-size: 20px;
        margin-top: 30px;
        color: #555;
      }

      .footer {
        margin-top: 50px;
        font-size: 16px;
        color: #777;
      }
    </style>
  </head>
  <body>
    <h1>Ini punya Laura</h1>
    <div class="subtitle">
      Final Assignment DCC<br />
      Elizabeth Laura Helvin / 2702255142
    </div>
    <div class="footer">
      Membuat Web Sederhana dengan Python-Django Frameworks
    </div>
  </body>
</html>
